<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

	<category label="Maintenance">
		<setting type="lsep" label="Maintenance Menu: "/>
		<setting id="showmaint" type="bool" label="Show All Maintenance Sections" default="false"/>
		<setting type="lsep" label="Backup Location: "/>
		<setting id="path" type="folder" label="Choose Backup Storage Location" default=""/>
		<setting type="lsep" label="Auto Cleanup On Startup:"/>
		<setting id="autoclean" type="bool" label="Enable Auto Clean" default="true"/>
		<setting id="clearcache" type="bool" label="Clear Cache on Startup" default="true" enable="!eq(-1,false)"/>
		<setting id="clearpackages" type="bool" label="Clear Packages on Startup" default="true" enable="!eq(-2,false)"/>
		<setting id="clearthumbs" type="bool" label="Clear Week Old Thumbnails on Startup" default="true" enable="!eq(-3,false)"/>
		<setting id="autocleanfeq" type="enum" label="How often would you like to Auto Clean on Startup?" values="Always|Daily|3 Days|Weekly" enable="!eq(-4,false)"/>
		<setting id="nextautocleanup" type="text" label="Next Auto Clean Up: " enable="false" visible="false" default=""/>
		<setting type="lsep" label="Clearing Video Cache:"/>
		<setting id="includevideo" type="bool" label="Include Video Addons in Clear Cache: " default="true"/>
		<setting id="includeall" type="bool" label="Include All Addons: " default="true" enable="!eq(-1,false)" visible="!eq(-1,false)"/>
	</category>
</settings>